.bg-dfagreen {
  background-color: var(--dfagreen);
}
.tx-dfablue {
  color: var(--dfablue);
}
.button.accordion-button {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--krnblue);
  padding: 2.2rem 2rem;
}

button.accordion-button.collapsed {
  line-height: 1.4;
  color: var(--grey100);
  background: white !important;
  border-radius: 20px !important;
  border: 0 !important;
}

.accordion-item {
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
  border: 0;
  border-radius: 1.25rem !important;
}

.accordion-body {
  padding-left: 2rem;
  padding-top: 0;
}

button.accordion-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}
.accordion-collapse.collapse.show {
  border-radius: 20px !important;
}

button.accordion-button,
.accordion-body {
  background: var(--blue00) !important;
  border: 0 !important;
  box-shadow: none !important;
}

.accordion-button::after {
  width: 2rem;
  height: 2rem;
  background-size: auto;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%2308628b' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%2308628b' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.box {
  background: #fdedd2;
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem 0rem;
}

.box.text-center .row div {
  margin: auto;
}

/* Styles for divs 1, 4, 7 */
.box:nth-child(3n + 1) {
  background-color: var(--yellow00); /* Example style */
  border: 1px solid var(--yellow40);
  /* Add more styles */
}

/* Styles for divs 2, 5, 8 */
.box:nth-child(3n + 2) {
  background-color: var(--blue00); /* Example style */
  border: 1px solid var(--blue40);
  /* Add more styles */
}

/* Styles for divs 3, 6, 9 */
.box:nth-child(3n) {
  background-color: var(--green00); /* Example style */
  border: 1px solid var(--green40);
  /* Add more styles */
}

.application-date-card .col-md-6:first-of-type {
  border-right: 2px solid #fff;
  padding-right: 2rem;
}

.application-date-card .text-center p {
  color: var(--blue20);
  margin-bottom: 0.6rem;
  margin-bottom: 0.6rem;
}

.application-date-card .text-center p:nth-child(2) {
  color: var(--white);
}

.application-date-card .text-center p {
  font-weight: 600;
}

iframe {
  min-height: 548px;
  border-radius: 20px;
  box-shadow: -10px 24px 44px 0px #0000001a;
}

.keydates .card {
  padding: 3rem 2.5rem;
  border-color: var(--blue20);
  box-shadow: none;
  height: 100%;
}
.thematicareas .card {
  padding: 3rem;
  border-color: #f7f7f7;
  box-shadow: none;
  height: auto;
}
.thematicareas .card-content {
  min-height: auto;
  padding: 0;
}
.thematicareas h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.thematicareas .card p {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .thematicareas .card {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 896px) {
  .video-section iframe {
    width: 100%;
    min-height: 240px;
  }
}
