a.annual-report {
  border-radius: 20px;
  background: var(--blue00);
  display: block;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.annual-report p {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.annual-report h4 {
  font-size: 20px;
  margin-bottom: 0;
}

a.annual-report img {
  width: 120px;
  height: auto;
}
a.annual-report > div {
  padding: 0.75rem 0 1.25rem 0;
}
@media (max-width: 1024px) {
  a.annual-report img {
    width: 80px;
  }
}
